joblib==1.2.0
keras==2.11.0
matplotlib==3.6.3
numpy==1.24.2
opencv_python==4.7.0.68
pandas==1.5.3
Pillow==9.4.0
Pillow==9.5.0
scikit_learn==1.2.2
seaborn==0.12.2
tensorflow==2.11.0
tensorflow_intel==2.11.0
yellowbrick==1.5
